<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LACKP</title>
  </head>
  <body>
    <table>
    <thead><h1>LACKP</h1></thead>
  <tbody>
      <tr>
        <% @teams.each do |team| %>
        <td>

          <a href= "/teams/<%= "#{team}"%>"><%= team %></a>
        </td><tr></tr>
         <% end %>
      </tr>
      <tr>
        <% @positions.each do |position| %>
          <td>
            <a href= "/positions/<%= "#{position}"%>"><%= position %></a>
          </td><tr></tr>
         <% end %>
      </tr>
      </tbody>



    </table>
  </body>
</html>
